/* FORM PAGO */

.form-pago {
    max-width: 500px;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
   
  }
  
  .form-pago h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-pago form {
    display: flex;
    flex-direction: column;
  }
  
  .form-pago form div {
    margin-bottom: 10px;
  }
  
  .form-pago label {
    font-weight: bold;
  }
  
  .form-pago input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-pago button {
    width: 100%;
    padding: 10px;
    background-color: #ff0;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .number-input::-webkit-outer-spin-button,
  .number-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    display: none;
  }
  
  .number-input {
    -moz-appearance: textfield;
  }
  
  
  /* .form-pago button:hover {
    background-color: #0069d9;
  } */