@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}





html{
  scroll-behavior: smooth;
  /* font-family: 'Roboto', sans-serif; */
}

/* PRINCIPAL */
/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* NAV */
.navbar{
  display: flex;
  justify-content: space-between;
  background-color: #2D333B;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

header{
  margin-bottom: 50px;
}

.navbar ul{
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  background-color: #2D333B;
  height: 50px;
  gap: 15px;
}

/* .activado{
  color: red;
  background-color: #ff0;
} */

.navbar ul li a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  position: relative;
  transition: 0.5s all linear;
  padding: 5px 20px;
}

.navbar ul li a:hover{
  color: #ff0;
}



/* Estilos de la navegación */
.header {
  background-color: #333;
  padding: 10px 0;
}

.navbar {
  display: flex;
  justify-content: center;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 20px;
  display: inline-block;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* Estilos del hero section */
.hero {
  background-image: url('/src/img/gym1.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  
}

.hero-content {
  text-align: center;
  color: #fff;

}

.hero-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 18px;
  margin-bottom: 20px;
}

.cta-button {
  display: inline-block;
  font-size: 17px;
  padding: 10px 20px;
  background-color: #ff0;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s; /* Agrega una transición suave al efecto */
  cursor: pointer;
  border: none;
}

.cta-button:hover {
  transform: scale(1.05); /* Escala el botón en un 5% al pasar el cursor */
}

/* Estilos de la sección de características */
.features {
  background-color: #f2f2f2;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature {
  text-align: center;
  margin-bottom: 40px;
}

.feature-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.feature-description {
  font-size: 16px;
  padding: 10px;
}

.feature img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilos de la sección de precios */
.pricing {
  padding: 40px 0;
}

.pricing-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.pricing-plans {
  display: flex;
  justify-content: center;
}

.pricing-plan {
  text-align: center;
  margin-right: 20px;
}

.plan-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.plan-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.plan-price {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Estilos de la sección de contacto */
.contact {
  background-color: #fff;
  padding: 40px 0;
}

.contact-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-description {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 10px;
  width: 300px;
  border-radius: 5px;
}

.contact-form textarea {
  height: 100px;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #ff0;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos del footer */
.footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
}

.footer p {
  margin: 0;
}


/* PLANES */

.planes-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.plan {
  width: 300px;
  height: 300px;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.plan-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.plan-description {
  font-size: 16px;
  margin-bottom: 20px;
}

.plan-price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.feature img {
  transition: transform 0.3s ease;
  cursor: pointer;
  z-index: 1;
}

.feature img:hover {
  transform: scale(1.05);
}

/* ENTRENO PAGE */
.entrenamientos-container {
  /* margin: 20px; */
  /* padding: 50px; */
  background-color: white;
  border-radius: 5px;
}

.entrenamientos-container h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.entrenamientos-container p {
  font-size: 16px;
  margin-bottom: 20px;
}

.entrenamientos-info1{
  text-align: center;
  margin-bottom: 80px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 70px;
  
}

.entrenamientos-info1 h1{
  background-color: #ff0;
  font-size: 30px;
  padding: 20px;
  margin-bottom: 30px;
  display: inline-block;
  border-radius: 8px;
}

.entrenamientos-info1 p{
  font-size: 20px;
}

.entrenamientos-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
}

.entrenamientos-info img{
  margin-top: 20px;
  width: 500px;
  height: 300px;
  border-radius: 8px;
  object-fit: cover;
}

.entrenamientos-info h2 {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.entrenamientos-info ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 60px;
}

.entrenamientos-info ul li{
  margin-bottom: 5px;
}

.entrenamientos-tipocuerpo{
  background-color: #f2f2f2;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.entrenamientos-tipocuerpo h2 {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.entrenamientos-contact{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.entrenamientos-contact h2 {
  font-size: 20px;
  /* margin-top: 60px; */
  margin-bottom: 10px;
}

.entrenamientos-contact p {
  font-size: 16px;
  margin-bottom: 20px;
}

.buttons-entrenoPage button{
  margin-right: 10px;
}

/* .entrenamientos-contact button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */

/* .entrenamientos-contact button:hover {
  background-color: #0056b3;
} */

/* REGISTRO PLANES */

.registro-planes {
  
  width: 400px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.registro-planes h1 {
  text-align: center;
  margin-bottom: 20px;
}

.registro-planes form {
  display: flex;
  flex-direction: column;
}

.registro-planes form div {
  margin-bottom: 10px;
}

.registro-planes label {
  font-weight: bold;
}

.registro-planes input, 
.registro-planes select{
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#plan {
  background-color: #f5f5f5;
  color: #333;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}


#plan option {
  background-color: #f5f5f5;
  color: #333;
}


.registro-planes button {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ff0;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}


.registro-padre{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.icon-back{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: black;
  cursor: pointer;

  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
}

.icon-back:hover{
  background-color: rgb(234, 234, 234);
  border-radius: 50%;
}

/* FORM PAGO */

.form-pago {
  max-width: 500px;
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
 
}

.form-pago h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-pago form {
  display: flex;
  flex-direction: column;
}

.form-pago form div {
  margin-bottom: 10px;
}

.form-pago label {
  font-weight: bold;
}

.form-pago input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-pago button {
  width: 100%;
  padding: 10px;
  background-color: #ff0;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}

.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}

.number-input {
  -moz-appearance: textfield;
}


/* .form-pago button:hover {
  background-color: #0069d9;
} */


/* ENTRENAMIENTOS PERSONALIZADOS/ ENTRENO PAGE*/
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.card-entreno {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 200px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-entreno-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-entreno-content {
  font-size: 14px;
  color: #555;
}

.card-entreno img {
  transition: transform 0.3s ease;
  cursor: pointer;
  z-index: 1;
}

.card-entreno img:hover {
  transform: scale(1.05);
}

/* ESTILOS MODAL */

.modal-tipo-cuerpo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: auto;
  background-color: rgb(153, 152, 152);
  /* border: 1px solid black; */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-tipo-cuerpo button{
  margin-bottom: 10px;
}

.modal-guia{
  padding: 40px;
}
.modal-guia h2{
  padding-bottom: 20px;
}

.modal-guia p{
  padding-bottom: 10px;
  
}

.modal-guia h4{
  margin-top: 30px;
}

.modal-guia button{
  margin-top: 10px;
}

.close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  background-color: red;
  color: white;
  padding: 10px;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 3px;
}
.close-button:hover{
  background-color: red;
}



/* ESTILOS PROGRESO_PAGE */

/* Imagen de Progreso */
.progreso-img img {
  width: 100%;
  max-width: 600px;
  height: auto;
  display: block;
  margin: 20px auto;
}

/* Estilos para secciones de información */
.progreso-info,
.progreso-info1,
.progreso-avances,
.progreso-consejos,
.progreso-comunidad,
.progreso-contact {
  margin-bottom: 30px;
  padding: 40px;
}

.progreso-info1{
  text-align: center;
  background-color: white;
  padding-top: 70px;
  padding-bottom: 70px;
}

.progreso-info1 p{
  font-size: 20px;
}
.progreso-info1 h1{
  text-align: center;
  background-color: #ff0;
  padding: 20px;
  margin-bottom: 30px;
  display: inline-block;
  border-radius: 8px;
}
.progreso-info{
  display: flex;
  /* justify-content: space-between; */
  background-color: #f5f5f5;
}

.progreso-info p{
  width: 70%;
  margin-bottom: 10px;
}

.progreso-info h2{
  margin-bottom: 20px;
}

.progreso-info img{
  width: 500px;
  height: 300px;
  border-radius: 8px;
  object-fit: cover;
}


/* Estilos específicos para la comunidad */
.progreso-comunidad {
  background-color: #f5f5f5;
}

/* Estilos para la sección de testimonios */
.testimonial-section {
  text-align: center;
  margin: 40px auto;
}

.testimonial-section h2{
  margin-bottom: 40px;
  font-family: 'Roboto', sans-serif;
}

.testimonial-card {
  display: flex;
  align-items: flex-start; /* Alinea el contenido al inicio de la tarjeta */
  /* justify-content: center; */
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.testimonial-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
}

.testimonial-content {
  text-align: left;
}

.testimonial-content p:first-child {
  font-style: italic;
  margin-bottom: 10px;
}

.testimonial-content p:last-child {
  font-weight: bold;
}


/* Estilos para la página Food_page */
.food-info,
.nutritional-tips,
.recommended-recipes{
  padding-top: 30px;
  padding-bottom: 80px;
  padding-left: 30px;
  padding-right: 30px;
  
}



.food-container {
  text-align: center;
  margin: 40px auto;
}

.food-info h1{
  text-align: center;
  background-color: #ff0;
  padding: 20px;
  margin-bottom: 30px;
  display: inline-block;
  border-radius: 8px;
}

.food-info p{
  font-size: 20px;
}

.nutritional-tips {
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: #f5f5f5;
}

.nutritional-tips ul {
  text-align: left;
  list-style-type: square;
  
}
.nutritional-tips li{
  margin-top: 10px;
}


.nutritional-tips-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 50px;
}

.nutritional-tips-content p{
  width: 600px;
  text-align: justify;
  line-height: 2;
}

.nutritional-tips img {
  width: 500px;
  height: 300px;
  border-radius: 8px;
  object-fit: cover;
}

.recetas-section {
  text-align: center;
  padding: 20px;
}

.recetas-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.receta {
  width: 30%;
  padding: 10px;
  margin-bottom: 20px;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.receta img {
  width: 100%;
  height: 280px;
  border-radius: 5px;
  object-fit: cover;
}

.receta h3 {
  margin: 10px 0;
}

.receta p {
  font-size: 0.9em;
  margin-bottom: 15px;
}












