@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}





html{
  scroll-behavior: smooth;
  /* font-family: 'Roboto', sans-serif; */
}

/* PRINCIPAL */
/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}







/* Estilos del hero section */
.hero {
  background-image: url('/src/img/gym1.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  
}

.hero-content {
  text-align: center;
  color: #fff;

}

.hero-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 18px;
  margin-bottom: 20px;
}

.cta-button {
  display: inline-block;
  font-size: 17px;
  padding: 10px 20px;
  background-color: #ff0;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s; /* Agrega una transición suave al efecto */
  cursor: pointer;
  border: none;
}

.cta-button:hover {
  transform: scale(1.05); /* Escala el botón en un 5% al pasar el cursor */
}



/* Estilos de la sección de características */
.features {
  background-color: #f2f2f2;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature {
  text-align: center;
  margin-bottom: 40px;
}

.feature-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.feature-description {
  font-size: 16px;
  padding: 10px;
}

.feature img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilos de la sección de precios */
/* .pricing {
  padding: 40px 0;
}

.pricing-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.pricing-plans {
  display: flex;
  justify-content: center;
}

.pricing-plan {
  text-align: center;
  margin-right: 20px;
}

.plan-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.plan-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.plan-price {
  font-size: 24px;
  margin-bottom: 20px;
} */

/* Estilos de la sección de contacto */
.contact {
  background-color: #fff;
  padding: 40px 0;
}

.contact-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-description {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 10px;
  width: 300px;
  border-radius: 5px;
}

.contact-form textarea {
  height: 100px;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #ff0;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos del footer */
.footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
}

.footer p {
  margin: 0;
}

/* Media queries para hacerlo responsive */
@media screen and (max-width: 768px) {
  /* Estilos del hero section */
  .hero {
    height: 300px;
  }

  .hero-title {
    font-size: 24px;
  }

  .hero-description {
    font-size: 14px;
  }

  .cta-button {
    font-size: 14px;
  }

  /* SECCION CARACTERISTICAS */
  .features {
    flex-direction: column; /* Cambia la dirección de flex a columna en pantallas más pequeñas */
  }

  .feature {
    width: 100%; /* Ocupa todo el ancho del contenedor en pantallas más pequeñas */
  }

  .feature img {
    width: 90%; /* Hace que la imagen ocupe todo el ancho del contenedor */
    height: 300px; /* Ajusta automáticamente la altura para mantener la proporción */
  }

  


  

  
}





