*{
  padding: 0;
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

/* PRINCIPAL */
/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* NAV */
.navbar{
  display: flex;
  justify-content: space-between;
  background-color: #2D333B;
  position: fixed;
  width: 100%;
  top: 0;
}

header{
  margin-bottom: 50px;
}

.navbar ul{
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  background-color: #2D333B;
  height: 50px;
  gap: 15px;
}

/* .activado{
  color: red;
  background-color: #ff0;
} */

.navbar ul li a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  position: relative;
  transition: 0.5s all linear;
  padding: 5px 20px;
}

.navbar ul li a:hover{
  color: #ff0;
}



/* Estilos de la navegación */
.header {
  background-color: #333;
  padding: 10px 0;
}

.navbar {
  display: flex;
  justify-content: center;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 20px;
  display: inline-block;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* Estilos del hero section */
.hero {
  background-image: url('/src/img/gym1.jpg');
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  
}

.hero-content {
  text-align: center;
  color: #fff;

}

.hero-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 18px;
  margin-bottom: 20px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff0;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilos de la sección de características */
.features {
  background-color: #f2f2f2;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature {
  text-align: center;
  margin-bottom: 40px;
}

.feature-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.feature-description {
  font-size: 16px;
  padding: 10px;
}

.feature img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilos de la sección de precios */
.pricing {
  padding: 40px 0;
}

.pricing-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.pricing-plans {
  display: flex;
  justify-content: center;
}

.pricing-plan {
  text-align: center;
  margin-right: 20px;
}

.plan-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.plan-description {
  font-size: 16px;
  margin-bottom: 10px;
}

.plan-price {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Estilos de la sección de contacto */
.contact {
  background-color: #fff;
  padding: 40px 0;
}

.contact-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-description {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 10px;
  width: 300px;
  border-radius: 5px;
}

.contact-form textarea {
  height: 100px;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #ff0;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos del footer */
.footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
}

.footer p {
  margin: 0;
}


/* PLANES */

.planes-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0;
}

.plan {
  width: 300px;
  height: 300px;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.plan-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.plan-description {
  font-size: 16px;
  margin-bottom: 20px;
}

.plan-price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.feature img {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.feature img:hover {
  transform: scale(1.05);
}